<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723064669092-vneoqqi6ihf7rgback7m3tebt56jq4t6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723064669092-vneoqqi6ihf7rgback7m3tebt56jq4t6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>723064669092-i9ritnfja2uk0bhjl4r0pssqm4hndnhf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9UKndo3Moszv6bQ-zWHI5zHbbZFv5FQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>723064669092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jtb.musicMinorleague</string>
	<key>PROJECT_ID</key>
	<string>musicminorleague</string>
	<key>STORAGE_BUCKET</key>
	<string>musicminorleague.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723064669092:ios:57babca58efa50c30b7731</string>
	<key>DATABASE_URL</key>
	<string>https://musicminorleague.firebaseio.com</string>
</dict>
</plist>